@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Long+Cang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  font-size: calc(100% * calc(10 / 16));
  /*converting 1 rem (16px) to 1rem - 10px, to be easier to use rems (e.g. 32px will be 3.2rem)*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--darker-gray-color);
  font-size: 2.1rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.flex-container .flex-item {
  margin: 0 auto;
}

section {
  padding-top: 4%;
  padding-bottom: 4%;
}

nav {
  padding: 0;
  margin: 0 auto;
  background: var(--darker-gray-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  z-index: 1;
}

nav .nav-title {
  color: var(--darkish-white-color);
  width: 50%;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 4%;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

nav .nav-links li {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links li a {
  margin: 0 auto;
  color: var(--gray-color);
  text-decoration: none;
  font-size: 1.8rem;
  border: 2px;
}

nav .nav-links li a:hover {
  color: var(--normal-white-color);
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 13vh;
  }
  nav {
    margin-bottom: 15vh;
    position: fixed;
    display: block;
    width: 100%;
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav .hamburger .line {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    width: 30px;
    height: 3px;
    background: var(--darkish-white-color);
    margin: 5px;
  }
  nav .nav-title {
    z-index: 2;
    position: absolute;
    left: 2%;
    top: 25%;
    -webkit-transform: translate(2%, 25%);
            transform: translate(2%, 25%);
    width: 100%;
  }
  nav .nav-links {
    position: fixed;
    background: var(--darker-gray-color);
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-clip-path: circle(100px at 90% -10%);
            clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    pointer-events: none;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links li a {
    font-size: 2.5rem;
  }
  nav .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    pointer-events: all;
    -webkit-clip-path: circle(1400px at 90% -10%);
            clip-path: circle(1400px at 90% -10%);
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
  }
  nav .hamburger.open {
    background-color: blue;
  }
  nav .hamburger.open .line {
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    position: absolute;
  }
  nav .hamburger.open .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav .hamburger.open .line:nth-child(2) {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  nav .hamburger.open .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

#front-page {
  height: 100vh;
  background-size: 100%;
  color: var(--normal-white-color);
  height: 100vh;
  height: 100%;
  overflow: hidden;
  width: 50%;
}

#front-page .flex-item {
  padding: 5%;
  text-align: center;
  width: 100%;
}

#front-page .flex-item#personal-info-card {
  visibility: hidden;
  -webkit-animation: 1s fade-in 0s forwards;
          animation: 1s fade-in 0s forwards;
  width: 100%;
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: 10px;
}

#front-page .flex-item#personal-info-card p {
  color: var(--darker-gray-color);
}

#front-page .flex-item#personal-info-card img {
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

#front-page .flex-item#personal-info-card img:first-child {
  max-width: 100%;
  min-width: 100px;
  height: auto;
  max-height: 400px;
  border-radius: 100%;
}

#front-page .flex-item#personal-info-card img:last-child {
  width: 3rem;
  margin: auto;
}

#front-page .flex-item#personal-info-card .flex-container {
  padding-top: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#front-page .flex-item#personal-info-card h2 {
  color: var(--dark-blue-color);
}

a i {
  color: var(--darker-gray-color);
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0;
  padding: 0;
  border: 0;
}

a i:hover {
  color: var(--dark-blue-color);
}

#about {
  background-color: var(--darkish-white-color);
}

#about h1 {
  text-align: center;
}

#about .flex-container {
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 0;
  padding: 4%;
}

#about .flex-container .flex-item {
  padding: 2% 3%;
}

#education {
  background-color: var(--normal-white-color);
  border-radius: 0.4rem;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

#education .flex-item {
  width: 100%;
}

#education .flex-item:first-child .flex-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#education .flex-item:first-child .flex-container .flex-item p:first-child {
  font-weight: bold;
}

#contact {
  background-color: var(--darkish-white-color);
}

#contact form {
  width: 100%;
  margin: auto;
  padding: 5% 0;
  border-radius: 0.4rem;
  -webkit-animation: 0.5s;
          animation: 0.5s;
}

#contact form h1 {
  text-align: center;
  padding-bottom: 2%;
}

#contact form input, #contact form textarea {
  display: block;
  text-align: left;
  margin: 0 auto;
  border: solid 0.2rem var(--gray-color);
}

#contact form input:hover, #contact form textarea:hover {
  border: solid 0.2rem var(--darker-gray-color);
}

#contact form input[type="text"], #contact form input[type="email"], #contact form textarea {
  width: 250px;
  height: 2rem;
  outline: none;
  background-color: var(--normal-white-color);
  color: var(--dark-blue-color);
  border-radius: 0.5rem;
  -webkit-animation: all 0.5s;
          animation: all 0.5s;
}

#contact form input[type="text"]:focus, #contact form input[type="email"]:focus, #contact form textarea:focus {
  border: solid 0.2rem var(--dark-blue-color);
}

#contact form input[type="text"]:hover, #contact form input[type="email"]:hover, #contact form textarea:hover {
  border: solid 0.2rem var(--dark-blue-color);
}

#contact form input[type="text"]#f-content, #contact form input[type="email"]#f-content, #contact form textarea#f-content {
  height: 200px;
}

footer {
  margin: 0;
  padding: 0;
  background-color: var(--darker-gray-color);
  padding: 2% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .flex-item {
  width: 100%;
  margin: 0;
  height: 100%;
}

footer .flex-item .flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

footer .flex-item .flex-container .flex-item {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

footer .flex-item .flex-container .flex-item #links {
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex-item .flex-container .flex-item #links a {
  padding: 0;
  border: 0;
}

footer .flex-item .flex-container .flex-item #links a i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

footer .flex-item .flex-container .flex-item #links a i:hover {
  color: var(--dark-blue-color) !important;
}

footer i {
  color: var(--darkish-white-color) !important;
}

footer p {
  color: var(--darkish-white-color);
  text-align: center;
  font-size: 1.5rem;
}

.section-heading {
  margin: 0 0;
  font-weight: none;
  text-shadow: 2px 2px 3px var(--dark-gray-color);
  color: var(--dark-blue-color);
}

a {
  text-decoration: none;
  color: var(--darkish-white-color);
}

.section-heading::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.5rem;
  border-bottom: 0.3rem solid var(--dark-blue-color);
  margin: auto;
  -webkit-box-shadow: 0rem 0.2rem var(--dark-gray-color);
          box-shadow: 0rem 0.2rem var(--dark-gray-color);
}

.special-font {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: 4rem;
}

@-webkit-keyframes slide-horizontal-center {
  to {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@keyframes slide-horizontal-center {
  to {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    pointer-events: visible;
    visibility: visible;
    opacity: 0;
  }
  100% {
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    pointer-events: visible;
    visibility: visible;
    opacity: 0;
  }
  100% {
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

:root {
  --darker-gray-color:rgb(56, 55, 55);
  --gray-color:rgb(172, 170, 170);
  --dark-gray-color:rgb(134, 134, 134);
  --normal-white-color: rgb(238,240,251);
  --darkish-white-color:rgb(224, 224, 224);
  --front-page-hl-color:rgb(255, 72, 0);
  --dark-blue-color:rgb(0, 132, 255);
  --green-color:rgb(0, 255, 149);
}
/*# sourceMappingURL=style.css.map */