@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Long+Cang&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  font-size: calc(100% * calc(10 / 16));
  /*converting 1 rem (16px) to 1rem - 10px, to be easier to use rems (e.g. 32px will be 3.2rem)*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--darker-gray-color);
  font-size: 2rem;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.flex-container .flex-item {
  margin: 0 auto;
}

section {
  padding-top: 4%;
  padding-bottom: 4%;
}

nav {
  padding: 0;
  margin: 0 auto;
  background: var(--darker-gray-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  z-index: 1;
}

nav .nav-title {
  color: var(--secondary-white-color);
  width: 50%;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 4%;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

nav .nav-links li {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-links li a {
  margin: 0 auto;
  color: var(--gray-color);
  text-decoration: none;
  font-size: 1.8rem;
  border: 2px;
}

nav .nav-links li a:hover {
  color: var(--primary-white-color);
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 13vh;
  }
  nav {
    margin-bottom: 15vh;
    position: fixed;
    display: block;
    width: 100%;
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  nav .hamburger .line {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    width: 30px;
    height: 3px;
    background: var(--secondary-white-color);
    margin: 5px;
  }
  nav .nav-title {
    z-index: 2;
    position: absolute;
    left: 2%;
    top: 25%;
    -webkit-transform: translate(2%, 25%);
            transform: translate(2%, 25%);
    width: 100%;
  }
  nav .nav-links {
    position: fixed;
    background: var(--darker-gray-color);
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-clip-path: circle(100px at 90% -10%);
            clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    pointer-events: none;
  }
  nav .nav-links li {
    opacity: 0;
  }
  nav .nav-links li a {
    font-size: 2.5rem;
  }
  nav .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  nav .nav-links li.fade {
    opacity: 1;
  }
  nav .nav-links.open {
    pointer-events: all;
    -webkit-clip-path: circle(1400px at 90% -10%);
            clip-path: circle(1400px at 90% -10%);
  }
  nav .hamburger {
    position: absolute;
    cursor: pointer;
  }
  nav .hamburger.open {
    background-color: blue;
  }
  nav .hamburger.open .line {
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
    position: absolute;
  }
  nav .hamburger.open .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav .hamburger.open .line:nth-child(2) {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  nav .hamburger.open .line:nth-child(3) {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

#front-page {
  height: 100vh;
  background-size: 100%;
  color: var(--primary-white-color);
  height: 100vh;
  height: 100%;
  overflow: hidden;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  #front-page {
    width: 90%;
  }
}

#front-page .flex-item {
  padding: 5%;
  text-align: center;
  width: 100%;
}

#front-page .flex-item#personal-info-card {
  visibility: hidden;
  -webkit-animation: 1s fade-in 0s forwards;
          animation: 1s fade-in 0s forwards;
  width: 100%;
  background-color: rgba(224, 224, 224, 0.7);
  border-radius: 10px;
}

#front-page .flex-item#personal-info-card p {
  color: var(--darker-gray-color);
}

#front-page .flex-item#personal-info-card img {
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

#front-page .flex-item#personal-info-card img:first-child {
  max-width: 100%;
  min-width: 100px;
  height: auto;
  max-height: 400px;
  border-radius: 100%;
}

#front-page .flex-item#personal-info-card img:last-child {
  width: 3rem;
  margin: auto;
}

#front-page .flex-item#personal-info-card .flex-container {
  padding-top: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#front-page .flex-item#personal-info-card h2 {
  color: var(--primary-blue-color);
}

a i {
  color: var(--darker-gray-color);
  -webkit-transition: 1s;
  transition: 1s;
  margin: 0;
  padding: 0;
  border: 0;
}

a i:hover {
  color: var(--primary-blue-color);
}

#about {
  background-color: var(--secondary-white-color);
}

#about h1 {
  padding-bottom: 2%;
}

#about .flex-container {
  text-align: justify;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  #about .flex-container {
    width: 95%;
  }
}

#about .flex-container .flex-item {
  width: 100%;
  margin: 0 2%;
}

#education {
  background-color: var(--primary-white-color);
  border-radius: 0.4rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#education h1 {
  padding-bottom: 2%;
}

#education .flex-container .flex-item {
  background-color: var(--secondary-white-color);
  margin: 2%;
  padding: 5%;
  border-radius: 0.5rem;
  width: 400px;
  height: 100%;
}

#education .flex-container .flex-item p {
  text-align: center;
}

#education .flex-container .flex-item p:first-child {
  font-weight: bold;
}

#projects h1 {
  padding-bottom: 2%;
}

#projects .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  width: 90%;
  margin: 0 auto;
  gap: 1%;
  padding-bottom: 50px;
}

#projects .grid-container .grid-item {
  background-color: var(--secondary-white-color);
  margin: 3%;
  text-align: center;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 90%;
  height: 90%;
  padding-bottom: 3%;
}

#projects .grid-container .grid-item a {
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--darker-gray-color);
}

#projects .grid-container .grid-item a img {
  width: 80%;
}

#projects .grid-container .grid-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#contact {
  background-color: var(--secondary-white-color);
}

#contact form {
  padding-top: 2%;
  margin: 0 auto;
  text-align: left;
  border-radius: 0.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: var(--secondary-white-color);
}

#contact form .form-item-wrapper {
  position: relative;
  margin-top: 2rem;
  width: 40%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  #contact form .form-item-wrapper {
    width: 80%;
    margin-top: 1rem;
  }
}

#contact form .form-item-wrapper input[type="text"], #contact form .form-item-wrapper input[type="email"] {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  color: var(--darker-gray-color);
  border: none;
  outline: none;
  background-color: var(--secondary-white-color);
}

#contact form .form-item-wrapper input[type="text"]:focus + .label-name .content-name, #contact form .form-item-wrapper input[type="email"]:focus + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: var(--primary-blue-color);
  font-size: 2.2rem;
}

#contact form .form-item-wrapper input[type="text"]:focus + .label-name::after, #contact form .form-item-wrapper input[type="email"]:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#contact form .form-item-wrapper input[type="text"]:valid + .label-name .content-name, #contact form .form-item-wrapper input[type="email"]:valid + .label-name .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: var(--primary-blue-color);
  font-size: 2.1rem;
}

#contact form .form-item-wrapper input[type="text"]:valid + .label-name::after, #contact form .form-item-wrapper input[type="email"]:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#contact form .form-item-wrapper label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

#contact form .form-item-wrapper label::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--primary-blue-color);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#contact form .form-item-wrapper label .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#contact form .form-item-wrapper .textarea-wrapper {
  overflow: hidden;
  padding: 0;
  margin: 0;
  padding-top: 4rem;
}

#contact form .form-item-wrapper .textarea-wrapper textarea {
  width: 100%;
  height: 12rem;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  resize: none;
  color: var(--darker-gray-color);
  border: none;
  outline: none;
  background-color: var(--secondary-white-color);
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#contact form .form-item-wrapper .textarea-wrapper textarea:focus {
  background-color: var(--primary-white-color);
}

#contact form .form-item-wrapper .textarea-wrapper textarea:focus + .label-name .content-name {
  -webkit-transform: translateY(-520%);
          transform: translateY(-520%);
  color: var(--primary-blue-color);
  font-size: 2rem;
}

#contact form .form-item-wrapper .textarea-wrapper textarea:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#contact form .form-item-wrapper .textarea-wrapper textarea:valid {
  background-color: var(--primary-white-color);
}

#contact form .form-item-wrapper .textarea-wrapper textarea:valid + .label-name .content-name {
  -webkit-transform: translateY(-520%);
          transform: translateY(-520%);
  color: var(--primary-blue-color);
  font-size: 2rem;
}

#contact form .form-item-wrapper .textarea-wrapper textarea:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#contact form input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  height: 4rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  cursor: pointer;
  width: 40%;
}

#contact form input[type="submit"]:hover {
  background-color: var(--secondary-blue-color);
  width: 100%;
}

footer {
  margin: 0;
  padding: 0;
  background-color: var(--darker-gray-color);
  padding: 2% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .flex-item {
  width: 100%;
  margin: 0;
  height: 100%;
}

footer .flex-item .flex-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

footer .flex-item .flex-container .flex-item {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

footer .flex-item .flex-container .flex-item #links {
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .flex-item .flex-container .flex-item #links a {
  padding: 0;
  border: 0;
}

footer .flex-item .flex-container .flex-item #links a i {
  font-size: 2.5rem;
  padding: 0.5rem;
}

footer .flex-item .flex-container .flex-item #links a i:hover {
  color: var(--primary-blue-color) !important;
}

footer i {
  color: var(--secondary-white-color) !important;
}

footer p {
  color: var(--secondary-white-color);
  text-align: center;
  font-size: 1.5rem;
}

.section-heading {
  text-align: center;
  margin: 0 0;
  font-weight: none;
  color: var(--darker-gray-color);
}

a {
  text-decoration: none;
  color: var(--secondary-white-color);
}

.special-font {
  font-family: 'Dancing Script', cursive;
}

h1 {
  font-size: clamp(3rem, 3vw, 4.5rem);
}

h3 {
  font-size: clamp(2.2rem, 2vw, 3rem);
}

p, input, label {
  font-size: clamp(1.7rem, 1.5vw, 2rem);
}

@-webkit-keyframes slide-horizontal-center {
  to {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@keyframes slide-horizontal-center {
  to {
    -webkit-transform: translateX(3000px);
            transform: translateX(3000px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    pointer-events: visible;
    visibility: visible;
    opacity: 0;
  }
  100% {
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    pointer-events: visible;
    visibility: visible;
    opacity: 0;
  }
  100% {
    pointer-events: visible;
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

:root {
  --darker-gray-color:rgb(56, 55, 55);
  --gray-color:rgb(172, 170, 170);
  --dark-gray-color:rgb(134, 134, 134);
  --primary-white-color: rgb(238,240,251);
  --secondary-white-color:rgb(224, 224, 224);
  --primary-blue-color:rgb(0, 132, 255);
  --secondary-blue-color:rgb(1, 89, 172);
  --green-color:rgb(0, 255, 149);
}
/*# sourceMappingURL=style.css.map */